<link rel="stylesheet" href="../css/header.css">
<header id="header" class="navbar-container">
    <div class="page-title-container">
        <h1 id="page-title" class="page-title">
            <!-- 현재 페이지의 제목이 여기에 표시됩니다 -->
        </h1>
    </div>
    <div class="nav-actions-container">
        <div data-badge="None" data-label="True" data-selected="False" data-state="Enabled" class="nav-action-item" id="bell-icon-container">
            <img src="assets/icons/bell.svg" class="header-icon" alt="Bell Icon">
        </div>
        <div class="notifications-dropdown">
            <div class="notification-item">새로운 댓글이 달렸습니다.</div>
            <div class="notification-item">친구가 게시물을 좋아합니다.</div>
            <div class="notification-item">오늘의 추천: 인삼차 효능 알아보기</div>
        </div>
        <div class="notification-overlay"></div>
        <a href="login.html"><button class="header-button login-button">로그인</button></a>
        <button class="header-button signup-button">시작하기</button>
    </div>
</header> 