<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/nav.css">
</head>
<nav id="nav">
    <div data-badge="None" data-label="True" data-selected="False" data-state="Enabled" class="nav-item logo nav-item-icon-bg">
      <div id="main-logo" class="nav-item-icon-bg">
        <div class="nav-item-icon-padding">
          <div class="nav-item-icon-container">
            <!-- Placeholder for LOGO/ICON -->
            <div class="nav-item-icon" style="background-image: url('assets/icons/coins-crypto.svg'); background-size: contain;"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="nav-menu-group">
      <div class="nav-divider"></div>

      <div data-badge="None" data-label="True" data-selected="False" data-state="Enabled" class="nav-item">
        <button id="price-nav-button" class="favorite-button" onclick="window.location.href='price.html'">
          <div class="nav-item-icon-padding">
            <div class="nav-item-icon-container">
              <img src="assets/icons/list.svg" alt="Price Icon" class="nav-item-icon">
            </div>
          </div>
        </button>
      </div>

      <div class="nav-divider"></div>

      <div data-badge="None" data-label="True" data-selected="False" data-state="Enabled" class="nav-item">
        <button id="longshort-nav-button" class="favorite-button" onclick="window.location.href='longshort.html'">
          <div class="nav-item-icon-padding">
            <div class="nav-item-icon-container">
              <img src="assets/icons/signal.svg" alt="Long/Short Icon" class="nav-item-icon">
            </div>
          </div>
        </button>
      </div>

      <div class="nav-divider"></div>

      <div data-badge="None" data-label="True" data-selected="False" data-state="Enabled" class="nav-item">
        <button class="favorite-button">
          <div class="nav-item-icon-padding">
            <div class="nav-item-icon-container">
              <img src="assets/icons/list.svg" alt="Favorite Icon" class="nav-item-icon">
            </div>
          </div>
        </button>
      </div>

      <div class="nav-divider"></div>

    </div>
    <div class="nav-menu-group" style="margin-top: auto;"> <!-- Push this group to the bottom -->
      <button id="theme-toggle-btn" class="favorite-button" title="다크모드 전환">
        <!-- Theme toggle button -->
          <div class="nav-item-icon-bg">
            <div class="nav-item-icon-padding">
              <div class="nav-item-icon-container">
                <img id="theme-icon" src="assets/icons/sun.svg" alt="Theme Toggle Icon" class="nav-item-icon">
              </div>
            </div>
          </div>
        </button>      
    </div>
</nav> 