<main id="main">
    <div class="main-panel exchange-panel">
      거래소정보
    </div>
    <div class="main-panel center-panel">
      <div id="price-chart" class="center-panel-section chart-section">
        차트
      </div>
      <div class="center-panel-section position-section">
        포지션
      </div>
      <div class="center-panel-section profit-section">
        수익
      </div>
    </div>
    <div class="main-panel news-panel">
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
        <div class="newsInfo">
          정보
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>

      </div>
      <div class="newsHolder">
        <div class="newsTitle">
          제목
        </div>
      </div>
    </div>
    
</main>